{{>_start}} {{>header}}

<section class="content-4">
  <div class="container">
    <div class="row justify-center mt-5">
      <div class="col-lg-6 pt-5 pl-5 pr-5 mb-4 text-center">
        <img class="mb-4 img-fluid rounded-circle" src="/img/image_1.jpg">
      </div>
      <div class="col-lg-6 text-left">
        <h2 class="title">{{mainText.title}}</h2>
        <div class="divider"></div>
        <p>{{mainText.lead}}</p>
        {{#each mainText.p}}
        <p>{{this}}</p>{{/each}}
      </div>
    </div>
  </div>
  </div>
</section>
<hr>
<section class="features-1 text-center">
  <div class="container">
    <h2 class="title">{{rooms.title}}</h2>
    <div class="divider"></div>
    <p class="constrain-width mt-4">{{rooms.subject}}</p>
    <p class="constrain-width mt-4">{{rooms.p}}</p>
    <div class="row">
      <div class="col-md-3 col-feature">
        <div class="img-thumbnail mb-2" style="height: 180px;">
          <div class="h-100 text-truncate">
            <img class="img-fluid" src="/img/rooms/maistros/03-thumb.jpg">
          </div>
        </div>
        <h4>{{maistros.title}}</h4>
        <p class="m-0" style="height:110px">
          {{maistros.subject}}
        </p>
        <p>
          <button class="btn btn-outline-secondary mt-2" onclick="openGallery('maistros')">{{general.photo}}</button>
        </p>
        <div id="gallery-maistros" class="gallery">
          <a href="/img/rooms/maistros/01.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/maistros/02.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/maistros/03.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/maistros/04.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/maistros/05.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/maistros/06.jpg">
            <img src="" alt="img">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-feature">
        <div class="img-thumbnail mb-2" style="height: 180px;">
          <div class="h-100 text-truncate">
            <img class="img-fluid" src="/img/rooms/apiliotis/03-thumb.jpg">
          </div>
        </div>
        <h4>{{apiliotis.title}}</h4>
        <p class="m-0" style="height:110px">
            {{apiliotis.subject}}
        </p>
        <p>
          <button class="btn btn-outline-secondary mt-2" onclick="openGallery('apiliotis')">{{general.photo}}</button>
        </p>
        <div id="gallery-apiliotis" class="gallery">
          <a href="/img/rooms/apiliotis/01.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/apiliotis/02.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/apiliotis/03.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/apiliotis/04.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/apiliotis/05.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/apiliotis/06.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/apiliotis/07.jpg">
            <img src="" alt="img">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-feature">
        <div class="img-thumbnail mb-2" style="height: 180px;">
          <div class="h-100 text-truncate">
            <img class="img-fluid" src="/img/rooms/zefiros/02-thumb.jpg">
          </div>
        </div>
        <h4>{{zefyros.title}}</h4>
        <p class="m-0" style="height:110px">
          {{apiliotis.subject}}
        </p>
        <p>
          <button class="btn btn-outline-secondary mt-2" onclick="openGallery('zefiros')">{{general.photo}}</button>
        </p>
        <div id="gallery-zefiros" class="gallery">
          <a href="/img/rooms/zefiros/01.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/zefiros/02.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/zefiros/03.jpg">
            <img src="" alt="img">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-feature">
        <div class="img-thumbnail mb-2" style="height: 180px;">
          <div class="h-100 text-truncate">
            <img class="img-fluid" src="/img/rooms/mpatis/02-thumb.jpg">
          </div>
        </div>
        <h4>{{mpatis.title}}</h4>
        <p class="m-0" style="height:110px">
          {{mpatis.subject}}
        </p>
        <p>
          <button class="btn btn-outline-secondary mt-2" onclick="openGallery('mpatis')">{{general.photo}}</button>
        </p>
        <div id="gallery-mpatis" class="gallery">
          <a href="/img/rooms/mpatis/01.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/mpatis/02.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/mpatis/03.jpg">
            <img src="" alt="img">
          </a>
          <a href="/img/rooms/mpatis/04.jpg">
            <img src="" alt="img">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{{>footer}} {{>_end}}