{{>_header}}

<section class="cover-1 text-center" style="background-image: url(/img/img2.jpg);">
	<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
		<div class="container">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			 aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse pull-xs-right justify-content-end" id="navbarSupportedContent">
				<ul class="navbar-nav mt-2 mt-md-0">
					<li class="nav-item">
						<a class="nav-link" href="/el">
							<img class="rounded-circle bg-white" style="padding:1px;width:25px;" src="/img/flags/001-greece.png">
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/en">
							<img class="rounded-circle bg-white" style="padding:1px;width:25px;" src="/img/flags/002-united-kingdom.png">
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/de">
							<img class="rounded-circle bg-white" style="padding:1px;width:25px;" src="/img/flags/003-germany.png">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="cover-container pb-5">
		<div class="cover-inner container">
			<h1 class="jumbotron-heading">{{header.title}}</h1>
			<p class="lead">{{header.subtitle}}</p>
			<p>
				<a href="#" class="btn btn-outline-white btn-lg">{{header.button}}</a>
			</p>
		</div>
	</div>
</section>

<section class="content-4">
	<div class="container">
		<div class="row justify-center mt-5">
			<div class="col-md-6 pl-5 pr-5 text-center">
				<img class="mb-4 img-fluid rounded-circle" src="/img/img1-sq.jpg">
			</div>
			<div class="col-md-6 text-left">
				<h2 class="text-center">{{mainText.title}}</h2>
				<div class="divider"></div>
				<p class="lead mt-4 mb-5">{{mainText.lead}}</p>
				{{#each mainText.p}}<p>{{this}}</p>{{/each}}
			</div>
		</div>
	</div>
	</div>
</section>

<hr>
<section class="features-1 text-center">
	<div class="container">
		<h2>Δωμάτια</h2>
		<div class="divider"></div>
		<p class="lead constrain-width mt-4">Η "ανεμφλιά" διαθέτει 4 άνετα διαμερίσματα, όλα με αυτόνομο κλιματισμό, δωρεάν Wi-Fi, τηλεόραση, ψυγείο και κουζίνα, έτσι
			ώστε να απολαμβάνετε ανεξαρτησία στη διαμονή σας. Η φιλοξενία μας θα σας κάνει να αισθανθείτε σαν στο σπίτι σας.</p>
		<p class="lead constrain-width mt-4">Τα διαμερίσματά μας βρίσκονται στο νέο λιμάνι της Τήνου, 500μ. από το κέντρο της Χώρας και 10 λεπτά με τα πόδια από την
			Εκκλησία της Παναγίας.</p>
		<p class="lead constrain-width mt-4">Κατά τον Όμηρο, η Τήνος ήταν το νησί όπου διέμενε ο θεός των ανέμων, Αίολος και έτσι τα δωμάτιά μας πήραν τα ονόματά τους
			από τις αρχαίες ελληνικές ονομασίες των ανέμων.</p>
		<div class="row">
			<div class="col-md-3 col-feature">
				<img src="/img/rooms/maistros/03-thumb.jpg" class="img-fluid img-thumbnail mb-2">
				<h4>Μαΐστρος</h4>
				<p style="height:90px">Ένα δίχωρο διαμέρισμα που μπορεί να φιλοξενήσει μέχρι 4 άτομα, πλήρως εξοπλισμένο, με σκεπαστή βεράντα
					και απεριόριστη θέα
				</p>
				<p>
					<button class="btn btn-outline-secondary mt-2" onclick="openGallery('maistros')">Φωτογραφιες</button>
				</p>
				<div id="gallery-maistros" class="gallery">
					<a href="/img/rooms/maistros/01.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/maistros/02.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/maistros/03.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/maistros/04.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/maistros/05.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/maistros/06.jpg">
						<img src="" alt="img">
					</a>
				</div>
			</div>
			<div class="col-md-3 col-feature">
				<img src="/img/rooms/apiliotis/06-thumb.jpg" class="img-fluid img-thumbnail mb-2">
				<h4>Απηλιώτης</h4>
				<p style="height:90px">Ακόμα ένα δίχωρο διαμέρισμα που μπορεί να φιλοξενήσει μέχρι 4 άτομα, πλήρως εξοπλισμένο, με μικρή σκεπαστή αυλή και θέα</p>
				<p>
					<button class="btn btn-outline-secondary mt-2" onclick="openGallery('apiliotis')">Φωτογραφιες</button>
				</p>
				<div id="gallery-apiliotis" class="gallery">
					<a href="/img/rooms/apiliotis/01.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/apiliotis/02.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/apiliotis/03.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/apiliotis/04.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/apiliotis/05.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/apiliotis/06.jpg">
						<img src="" alt="img">
					</a>
				</div>
			</div>
			<div class="col-md-3 col-feature">
				<img src="/img/rooms/zefiros/02-thumb.jpg" class="img-fluid img-thumbnail mb-2">
				<h4>Ζέφυρος</h4>
				<p style="height:90px">Ένα μονόχωρο δίκλινο διαμέρισμα, πλήρως εξοπλισμένο, με σκεπαστή βεράντα και απεριόριστη θέα και</p>
				<p>
					<button class="btn btn-outline-secondary mt-2" onclick="openGallery('zefiros')">Φωτογραφιες</button>
				</p>
				<div id="gallery-zefiros" class="gallery">
					<a href="/img/rooms/zefiros/01.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/zefiros/02.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/zefiros/03.jpg">
						<img src="" alt="img">
					</a>
				</div>
			</div>
			<div class="col-md-3 col-feature">
				<img src="/img/rooms/mpatis/02-thumb.jpg" class="img-fluid img-thumbnail mb-2">
				<h4>Μπάτης</h4>
				<p style="height:90px">Ένα μονόχωρο δίκλινο διαμέρισμα, πληρως εξοπλισμένο, με μικρή αυλή και απεριόριστη θέα.</p>
				<p>
					<button class="btn btn-outline-secondary mt-2" onclick="openGallery('mpatis')">Φωτογραφιες</button>
				</p>
				<div id="gallery-mpatis" class="gallery">
					<a href="/img/rooms/mpatis/01.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/mpatis/02.jpg">
						<img src="" alt="img">
					</a>
					<a href="/img/rooms/mpatis/03.jpg">
						<img src="" alt="img">
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-light p-4">
	<div class="container constrain-width ">
		<h2 class="text-center">Τιμοκατάλογος</h2>
		<div class="divider"></div>
		<table class="table mb-4">
			<thead>
				<tr class="text-center">
					<th></th>
					<th>Μαΐστρος</th>
					<th>Απηλιώτης</th>
					<th>Ζέφυρος</th>
					<th>Μπάτης</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td class="text-right">
						<strong>Low Season</strong>
					</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
				</tr>
				<tr class="text-center">
					<td class="text-right">
						<strong>High Season</strong>
					</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
					<td>???</td>
				</tr>
			</tbody>
		</table>
		<hr>
		<p class="lead text-center mt-4">Κάνετε την κράτηση σας Online</p>
		<form>
			<div class="row">
				<div class="col-4">
					<div class="form-group">
						<label>Όνομα</label>
						<input name="name" class="form-control">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label>Τηλέφωνό</label>
						<input name="message" class="form-control">
					</div>
				</div>
				<div class="col-4">
					<div class="form-group">
						<label>Email</label>
						<input name="mail" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label>Δωμάτιο</label>
						<input name="field1" class="form-control">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label>Ενηλίκες</label>
						<input name="field3" class="form-control">
					</div>
				</div>
				<div class="col-3">
					<div class="form-group">
						<label>Παιδιά</label>
						<input name="field4" class="form-control">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<label>Ημερομηνία / ώρα άφιξης</label>
						<input name="field5" class="form-control">
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<label>Ημερομηνία / ώρα αναχώρησης</label>
						<input name="field6" class="form-control">
					</div>
				</div>
			</div>
			<div class="form-group text-center">
				<button class="btn btn-outline-secondary btn-lg" type="submit">Κρατηση</button>
			</div>
		</form>
	</div>
</section>

<section class="contact-2">
	<div class="container">
		<div class="row contact-details">
			<div class="col-sm-8 m-auto text-center">
				<h2>Επικοινωνήστε μαζί μας</h2>
				<p class="lead constrain-width mt-4">
					ΛΕΩΦ. ΣΤΑΥΡΟΥ - ΚΙΟΝΙΩΝ, ΤΗΝΟΣ, ΕΛΛΑΣ
					<br>(+30)6974348488 - anemfliarooms@gmail.com
				</p>
				<div class="divider"></div>
				<form class="contact-form mt-4">
					<div class="row">
						<div class="col-md-6">
							<input type="text" class="form-control-custom mb-4" placeholder="Όνομα">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control-custom mb-4" placeholder="Email / Τηλέφωνο">
						</div>
						<br />
					</div>
					<div class="row">
						<div class="col-md-12">
							<textarea class="form-control-custom mb-4" rows="3">Μήνυμα</textarea>
							<br />
							<button type="submit" class="btn btn-primary btn-lg mb-4">Αποστολη</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<section>
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4474.048984817616!2d25.155518695211892!3d37.540209483657634!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4f59f58b070e498a!2zQW5lbWZsaWEgLSDOkc69zrXOvM-GzrvOuc6s!5e0!3m2!1sen!2sus!4v1526122895880"
	 width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<footer class="footer-3">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav-footer mt-2 mt-md-0 ">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Our Work</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="divider"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-center text-md-left mt-2 mb-3 pt-1">
				<p>Copyright &copy; Anemflia. All rights reserved.</p>
			</div>
			<div class="col-md-6 text-center text-md-right mb-4">
				<ul class="social">
					<li>
						<a href="#" title="Facebook">
							<span class="fab fa-facebook"></span>
						</a>
					</li>
					<li>
						<a href="#" title="Instagram">
							<span class="fab fa-instagram"></span>
						</a>
					</li>
					<div class="clear"></div>
				</ul>
			</div>
		</div>
	</div>
</footer>

{{>_footer}}